__pycache__/
*.py[cod]
*$py.class
.DS_Store
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# binary files
*.db3
*.bag
*.bag.active
*.log

/vision_tracker/data/*

# bag files
bags/
scripts/bags/

# experiment logs
results/*_bag.log
results/*.csvresults/latest_tracker_pose.csv
results/latest_tracker_pose.csv
results/real_start_pose_checks.csv
results/latest_tracker_pose.sample.csv
